{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "frontend-ui/build/components/footer/macro.njk" import frontendUiFooter %}
{% from "frontend-ui/build/components/language-select/macro.njk" import frontendUiLanguageSelect %}

{% set htmlLang = globals.htmlLang %}
{% set htmlClasses = 'govuk-template__mobile' if globals.isAppChannel %}
{% set phaseBannerHtml %}
  {%- if isProd -%}
  {{ 'FECTranslations.phaseBanner.text' | translate }} <a href='{{ globals.authFrontEndUrl + "/contact-us-questions?theme=suggestions_feedback" }}' class="govuk-link" rel="noreferrer noopener" target="_blank">{{ 'FECTranslations.phaseBanner.link' | translate | replace(".","") }}</a>.
  {%- else -%}
  {{ 'general.phaseBanner.testText' | translate }}
  {%- endif -%}
{% endset %}
{% set phaseBannerTagText =  'FECTranslations.phaseBanner.tag' | translate | capitalize if isProd else "Test" %}
{% set phaseBannerClasses =  'govuk-tag--yellow' if not isProd %}

{%- set headerClasses -%}
{%- if reply.client.consider_user_logged_in %} govuk-header--with-signout {%- endif -%}
{%- endset-%}

{% block pageTitle %}
  {%- if error or errors %} {{ 'general.errorTitlePrefix' | translate }} - {% endif -%}
  {%- if pageTitleName -%}
      {{ pageTitleName }}
      {%- if not hideTitleProductName %} - {% endif -%}
  {% endif -%}
  {{ 'general.serviceNameTitle' | translate if not hideTitleProductName}}
{%- endblock %}

{% block bodyStart %}
  {% include 'templates/layout/cookieBanner.njk' %}
{% endblock %}

{% block head %}
  {% if globals.dynatraceRumUrl %}
    <script src='{{ globals.dynatraceRumUrl }}' crossorigin="anonymous" nonce='{{ cspNonce }}'></script>
  {% endif %}
 <link href="/static/application.css?{{ globals.staticHash }}" rel="stylesheet" nonce='{{ styleNonce }}'>
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    text: "FECTranslations.skipLink.title" | translate,
    href: "#main-content"
  }) }}
{% endblock %}

{% block header %}
    {% include 'templates/layout/header.njk' %}
    {% if reply.client.consider_user_logged_in %}
      {% include 'templates/layout/navigation.njk' %}
    {% endif %}    
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
    {{ govukPhaseBanner({
      tag: {
        text: phaseBannerTagText,
        classes: phaseBannerClasses
      },
      html: phaseBannerHtml
    }) if not globals.isAppChannel }}

    {{ frontendUiLanguageSelect({
        url: globals.currentUrl,
        activeLanguage: globals.htmlLang,
        translations: 'FECTranslations.languageSelect' | translate
      }) 
    }}
    {% block backLinkBlock %}
      {% if backLink %}
        <a href="{{backLink}}" class="govuk-back-link">
          {{ backLinkText }}
          {{'general.back' | translate if not backLinkText}}
        </a>
      {% endif %}
    {% endblock %}
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
        {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {{ frontendUiFooter({ translations: 'FECTranslations.footer' | translate({returnObjects: true}) }) if not globals.isAppChannel }}
{% endblock %}


{% block bodyEnd %}
    {% block scripts %}{% endblock %}

    <script type="module" src="/public/scripts/govuk-frontend.min.js?{{ globals.publicScriptsHash }}" nonce='{{ cspNonce }}'></script>

    <script type="module"  nonce='{{ cspNonce }}'>
      import { initAll } from '/public/scripts/govuk-frontend.min.js?{{ globals.publicScriptsHash }}';
      initAll();
    </script>
    <script src="/public/scripts/analytics.js?{{ globals.publicScriptsHash }}" nonce='{{ cspNonce }}'></script>

    <script nonce='{{ cspNonce }}'>
    if (window.DI) {
      window.DI.appInit({
        ga4ContainerId: "{{ globals.ga4ContainerId }}",
      }, {
        enableGa4Tracking: {% if globals.analyticsEnabled === true %}true{% else %}false{% endif %},
        cookieDomain: "{{ globals.analyticsCookieDomain }}",
        isDataSensitive: false,
        isPageDataSensitive: {% if reply.analytics.isPageDataSensitive === true %}true{% else %}false{% endif %},
        enablePageViewTracking: true,
        enableFormResponseTracking: true,
        enableFormChangeTracking: true,
        enableFormErrorTracking: true,
        enableNavigationTracking: true,
        enableSelectContentTracking: {% if reply.analytics.isSelectContentTrackingEnabled === true %}true{% else %}false{% endif %},
      });
    }

    {% if reply.analytics %}
      window.addEventListener('load', function () {
        if (window.DI && window.DI.analyticsGa4) {
            window.DI.analyticsGa4.pageViewTracker.trackOnPageLoad({
                statusCode: {% if reply.statusCode %}{{ reply.statusCode }}{% else %}200{% endif %},
                taxonomy_level1: "{{ reply.analytics.taxonomyLevel1 }}",
                taxonomy_level2: "{{ reply.analytics.taxonomyLevel2 }}",
                taxonomy_level3: "{{ reply.analytics.taxonomyLevel3 }}",
                content_id: "{{ reply.analytics.contentId }}",
                logged_in_status: {% if reply.client.consider_user_logged_in === true %}true{% else %}false{% endif %},
                dynamic: {% if reply.analytics.dynamic === false %}false{% else %}true{% endif %},
            });
        }
      });
    {% endif %}
  </script>
  <script type="module" src="/fingerprint/index.js?{{ globals.fingerprintHash }}" nonce='{{ cspNonce }}'></script>
  <script type="module" nonce='{{ cspNonce }}'>
    import { setFingerprintCookie } from "/fingerprint/index.js?{{ globals.fingerprintHash }}";
    setFingerprintCookie({% if globals.env === "local" %}"localhost"{% endif %});
  </script>
{% endblock %}